* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: hsl(218, 23%, 16%);
  padding: 20px;
}
.container {
  background-color: hsl(217, 19%, 38%);
  border-radius: 10px;
  padding: 50px 20px;
  text-align: center;
  max-width: 100%;
  width: 500px;
}

h3 {
  margin: 0;
  opacity: 0.5;
  letter-spacing: 2px;
  color: hsl(150, 100%, 66%);
}
.best {
  margin: 0;
  opacity: 0.5;
  letter-spacing: 2px;
  color: hsl(150, 100%, 66%);
}

.advice {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
  color: hsl(193, 38%, 86%);
}

.btn {
  background-color: hsl(150, 100%, 66%);
  border: 0;
  border-radius: 50px;
  color: #f3f3f3;
  padding: 15px;
  font-size: 0.9rem;
  cursor: pointer;
  position: relative;
  top: 100px;
}
.btn:active {
  transform: scale(0.98);
}
